{% extends 'todo/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        TodoApp
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container card card-body">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} mt-3">
                    <span class="close" data-dismiss="alert">&times;</span>
                    <p><span class="fa fa-check-circle-o pr-2"></span>{{ message|safe }}</p>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row pt-5">
            <div class="col-6 offset-3">
                <legend class="text-center"> Login Here </legend>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="mt-5 btn btn-outline-primary" value="Login" /><hr>
                    <small class="pt-4 float-left"><a href="{% url 'user-register' %}">Don't have an account?</a></small>
                    <small class="pt-4 float-right"><a href="{% url 'password_reset' %}">Forgot Password?</a></small>
                </form>
            </div>
        </div>
    </div>
{% endblock %}